body{
    font-family: "Century Gothic";
    font-size: 16px;
}
h1{
    font-size: 22px;
    text-transform: uppercase;
}
.content{
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0 auto;
    padding: 2rem;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 5rem 1rem;
}
.header__create-button{
    padding: 1rem 1rem;
    background: url("../images/new-message-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.select-design{
    display: flex;
    align-items: center;
    position: relative;
    width: 8rem;
    justify-content: space-evenly;
    cursor: pointer;
    border-bottom: 1px solid #000;
}
.select-design::after{
    content: '';
    background-image: url("../images/layers.svg");
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;

}
.select-design:focus{
    outline: transparent;
}
.select-design__option-wrapper{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 100%;
    left: 0;
}
.select-design__option-wrapper span{
    padding: 0.5rem 0;
    border-bottom: 1px solid gray;
}
.select-design__option-wrapper.active{
    max-height: 20rem;
    bottom: -7rem;

}
.select-design__wrapper:focus {
    outline: none;
}
.sortby__titel{
    text-transform: uppercase;
    font-weight: bold;
}
.sortby__wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.sortyby__button{
    text-decoration: none;
    list-style: none;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    font-size: 14px;
}
.create-notice__important-titel{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.create-notice__important{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}
.create-notice__important-button{
    padding:1rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.notice__wrapper{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding:3rem 0;
    position: relative;
}
.notice__date, .notice__edit-wrapper{
    flex: 1;
}
.notice__date{
    text-transform: uppercase;
    font-weight: bold;
}
.notice__content{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.notice__content-titel{
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.notice__edit-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.notice__edit{
    background-image: url("../images/settings-black.svg");
    width: 1.5rem;
    height: 1.5rem;
    background-size:contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.notice__delete{
    background-image: url("../images/delete-black.svg");
    width: 1.5rem;
    height: 1.5rem;
    background-size:contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.notice__creation-date{
    position: absolute;
    right: 2rem;
    bottom: 0.5rem;
    font-size: 14px;
}
.notice__finished{
    position: absolute;
    bottom: 0.5rem;
    left: 0;
}
.notice__finished label{
    font-size: 14px;
}
.notice__finished input[type="checkbox"]{
    appearance: none;
    border: 1px solid pink
}

