.modal-overlay {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal-overlay .overlay{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(37, 37, 38, 0.85);
    position: absolute;

}
.modal-overlay strong{
    text-transform: uppercase;
}
.modal-overlay .input-wrapper{
    margin-top:2rem;
}
.create-notice__important-titel{
    margin-top: 1.5rem;
}
.modal-overlay.open{
    display: flex;
}
.modal-overlay__close{
    position: absolute;
    background-image: url("../images/cancel.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}
.modal-overlay__window {
    position: relative;
    max-width: 80vw;
    max-height: 80vh;
    background-color: white;
}
.modal-overlay__body{
    padding:2rem;
}

.create-notice__titel, .create-notice__content, .create-notice__date{
    position: relative;
}
.modal-overlay input, .modal-overlay textarea {
    border: none;
    border-bottom: 1px solid #797979;
    width: 25rem;
    font-size: 16px;
    height: 1.5rem;
    z-index: 1;
    position: relative;
    background: no-repeat;
}

.modal-overlay input:focus, .modal-overlay textarea:focus {
    outline: transparent;
}
.modal-overlay label{
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;
}
.modal-overlay input[type="date"]{
    font-family: "Century Gothic";
    text-transform: uppercase;
}
.modal-overlay input:focus + label, .modal-overlay textarea:focus + label{
    top:-1.5rem;
    font-size: 14px;
    color: gray;

}
.create-notice__date label{
    top:-1.5rem;
    font-size: 14px;
    color: gray;
}
.modal-overlay input[type="submit"]{
    width: 10rem;
    background-color: #797979;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    border:none;
    margin:2rem 0;
    height: 2.6rem;
}
